.main-list {
  width: 400px;
}

button:focus {
  outline: none;
}

.list-row {
  display: flex;
  border-bottom: 1px solid #ebebeb;
}

/*.list-row:nth-child(even) {*/
  /*background: #ebebeb;*/
/*}*/

.example-form-field {
  min-width: 250px;
}

.delete-btn {
  margin: 5px;
  min-width: 40px;
  padding: 0;
}

.checked-task {
  text-decoration: line-through;
}

.download-csv-btn {
  padding: 0 10px;
}
