<div class="container">
  <div class="main-list">
    <h2>Todo App</h2>
    <mat-form-field class="example-form-field" #newTaskInput>
      <input matInput type="text" placeholder="Add new task" [(ngModel)]="taskValue">
      <button mat-button *ngIf="taskValue" matSuffix mat-icon-button aria-label="Clear" (click)="taskValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-fab color="accent" (click)="addNewTask()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search..." [(ngModel)]="searchText">
    </mat-form-field>
    <mat-selection-list #taskList>
      <div *ngFor="let task of tasks | filter : searchText" class="list-row">
        <mat-list-option (click)="toggleCheckTask(task.id)" [selected]="task.done">
          <span [ngClass]="{'checked-task': task.done}">{{task.name}}</span>
        </mat-list-option>
        <button class="delete-btn" (click)="deleteTask(task.id)" mat-raised-button color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </mat-selection-list>
    <p>
      Tasks done: {{taskList.selectedOptions.selected.length}} of {{taskList.options.length}}
    </p>
  </div>
</div>
